* {
    box-sizing: border-box;
}
.card {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 150px;
    background: rgb(17, 4, 134);
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0, 0.7) 5px 10px 50px, rgb(0, 0, 0, 0.7) -5px 0px 250px;
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.card:hover {
    box-shadow: rgb(0, 0, 0) 5px 10px 50px, rgb(0, 0, 0) -5px 0px 250px;
}

.time-text {
    font-size: 50px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.time-sub-text {
    font-size: 15px;
    margin-left: 5px;
}

.day-text {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.moon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all 0.3s ease-in-out;
}

.card:hover>.moon {
    font-size: 23px;
}
.menu {
    position: fixed;
    /* 固定位置 */
    bottom: 0;
    /* 距离底部0 */
    left: 0;
    /* 距离左边0 */
    width: 100%;
    /* 100%宽度 */
    padding: 0.5rem;
    background-color: #fff;

    display: flex;

    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0 10px 25px 0 rgba(#000, 0.075);
}

.link {
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform-origin: center left;
    transition: width 0.2s ease-in;
    text-decoration: none;
    color: inherit;

    &:before {
        position: absolute;
        z-index: -1;
        content: "";
        display: block;
        border-radius: 8px;
        width: 100%;
        height: 100%;
        top: 0;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
        transform-origin: center right;
        background-color: #eee;
    }

    &:hover,
    &:focus {
        outline: 0;
        width: 130px;

        &:before,
        .link-title {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.link-icon {
    width: 28px;
    height: 28px;
    display: block;
    flex-shrink: 0;
    left: 18px;
    position: absolute;

    svg {
        width: 28px;
        height: 28px;
    }
}

.link-title {
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    transform-origin: center right;
    display: block;
    text-align: center;
    text-indent: 28px;
    width: 100%;
}